<form>
    <div class="row prop-entry">
        <div class="prop-label">服务ID：</div>
        <div class="prop-input">
            <input class="bean-prop" type="text" value="" name="serviceId" size="28"/>
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">描述：</div>
        <div class="prop-input">
            <input class="bean-prop" type="text" value="" name="description" size="28">
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">服务名称：</div>
        <div class="prop-input">
            <input class="bean-prop" type="text" value="" name="serviceName" size="28">
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">提供商：</div>
        <div class="prop-input">
            <input class="bean-prop" type="text" value="" name="vendor" size="28">
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">业务类型：</div>
        <div class="prop-input">
            <input class="bean-prop" type="text" value="" name="businessType" size="28">
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">自启用：</div>
        <div class="prop-input">
            <select class="normal-prop" name="autoStart">
                <option value="true">是</option>
                <option value="false" selected="selected">否</option>
            </select>
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">启用跟踪：</div>
        <div class="prop-input">
            <select class="normal-prop" name="trace">
                <option value="true">是</option>
                <option value="false" selected="selected">否</option>
            </select>
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">路由监控：</div>
        <div class="prop-input">
            <select class="normal-prop" name="enableMonitor">
                <option value="true" selected="selected">是</option>
                <option value="false">否</option>
            </select>
        </div>
    </div>

    <div class="row prop-entry">
        <div class="prop-label">序列号：</div>
        <div class="prop-input">
            <input class="bean-prop" type="text" value="1" name="businessSequence" size="28">
        </div>
    </div>
</form>